@import "tailwindcss";

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/SourceSansPro-Regular.woff2') format('woff2'),
    url('/fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url('/fonts/SourceSansPro-Bold.woff2') format('woff2'),
    url('/fonts/SourceSansPro-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro SemiBold';
    src: url('/fonts/SourceSansPro-SemiBold.woff2') format('woff2'),
    url('/fonts/SourceSansPro-SemiBold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro Italic';
    src: url('/fonts/SourceSansPro-Italic.woff2') format('woff2'),
    url('/fonts/SourceSansPro-Italic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro ExtraLight';
    src: url('/fonts/SourceSansPro-ExtraLight.woff2') format('woff2'),
    url('/fonts/SourceSansPro-ExtraLight.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('/fonts/SourceSansPro-Light.woff2') format('woff2'),
    url('/fonts/SourceSansPro-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-gold: #AD9041;
    --color-green: #41ad6b;
    --color-dark-gold: #837454;
    --color-grey: #F7F7F7;

    --font-sans: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-sans-bold: "Source Sans Pro Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-sans-semiBold: "Source Sans Pro SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-sans-italic: "Source Sans Pro Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-sans-extra-light: "Source Sans Pro ExtraLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-sans-light: "Source Sans Pro Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}



:root {
    font-family: var(--font-sans), sans-serif;
/*  line-height: 1.5;*/
/*  font-weight: 400;*/

/*  color-scheme: light dark;*/
/*  color: rgba(255, 255, 255, 0.87);*/
  background-color: #000000;

/*  font-synthesis: none;*/
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
    max-width: 100%;
    width: 100%;
    position: relative;
    min-height: 100vh;
}

a {
    @apply  text-gold font-sans-semiBold underline text-base lg:text-xl transition-all duration-300;
}


a.btn-link {
    @apply  font-sans-semiBold text-base transition-all duration-300 no-underline text-center;
    padding: 6px 16px 9px;
    border-radius: 15px;
    min-width: 180px;
    display: inline-block;
}

.btn-primary {
    @apply  text-black bg-white hover:bg-gold hover:text-white;
}

.btn-secondary {
    @apply  text-white bg-[#acacac] hover:bg-white hover:text-black;
}


a.btn-link:hover {

}

a:hover {
    @apply no-underline
}

.header-container {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    @media (width >= 96rem) {
        max-width: 1820px;
    }
}


.pac-container .pac-logo {
    opacity: 0.5;
}

/*h1 {*/
/*  font-size: 3.2em;*/
/*  line-height: 1.1;*/
/*}*/

/*button {*/
/*  border-radius: 8px;*/
/*  border: 1px solid transparent;*/
/*  padding: 0.6em 1.2em;*/
/*  font-size: 1em;*/
/*  font-weight: 500;*/
/*  font-family: inherit;*/
/*  background-color: #1a1a1a;*/
/*  cursor: pointer;*/
/*  transition: border-color 0.25s;*/
/*}*/
/*button:hover {*/
/*  border-color: #646cff;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

